
@using BMDBConnection;
@model BuildingMaintenance.Models.BuildingUserModel
@{
    ViewData["Title"] = "Home Page";
    string title = "Building User";
    buildinguser buildinguser = Model.IsNewRecord ? new buildinguser() : Model.BuildingUsers.FirstOrDefault(x => x.UserID == Model.UserID);
    buildinguser = buildinguser ?? new buildinguser();
    string hide = string.Empty, buttonCenter = string.Empty;
    ListingTableModel listingTableModel = new ListingTableModel();
    if (Model.IsNewRecord)
    {
        hide = "display:none";
        buttonCenter = "d-flex";
        listingTableModel.Columns = new List<string>() { "UserID", "User Name", "Contact No", "Address" };
        listingTableModel.TableName = "BuildingUsers";
        listingTableModel.PrimaryColumn = "UserID";
        listingTableModel.EditURL = "/buildinguser/index/";
        listingTableModel.TableData = new List<Dictionary<string, object>>();
        Dictionary<string, object> data = new Dictionary<string, object>();
        foreach (var item in Model.BuildingUsers)
        {
            data = new Dictionary<string, object>();
            data.Add("UserID", item.UserID);
            data.Add("User Name", item.UserName);
            data.Add("Contact No", item.ContactNo);
            data.Add("Address", item.Address);
            listingTableModel.TableData.Add(data);
        }
    }
}

<div class="maincontent-holder">
    <div class="header-section d-flex justify-content-between mt-4">
        <div class="page-title">
            <h3>@title</h3>
        </div>
        <div class="addupdate-btn" style="@(Model.IsNewRecord ? string.Empty : "display:none")">
            <button class="btn btn-primary" onclick="ToggleContent('form-section', 'addupdate-btn')" value="Add Item">Add Item</button>
        </div>
    </div>
    <div class="form-section" style="@hide">
        <div class="card shadow-lg border-2 rounded-lg mt-5">
            <div class="relative-pos">
                <div id="form-loader" class="loading" style="display: none;"><span class="loader"></span></div>
                <div class="card-header"><h3 class="text-center font-weight-light my-4">@title</h3></div>
                <div class="card-body">
                    @using (Html.BeginForm("SaveUpdateRecord", "Dynamic", FormMethod.Post, new { id = "form_createrecord" }))
                    {
                    <section section="BuildingUsers" rows="1" displayseqno="1">
                        <input rel-primarykey="true" style="display:none" type="text" id="BuildingUsers-UserID" name="BuildingUsers-UserID" value="@Model.UserID" isnewrecord="@(Model.IsNewRecord ? "1" : "0")" />
                        <div class="form-group">
                            <label class="" for="SocietyName">User Name</label>
                            <input column-name="UserName" column-required="true" type="text" class="form-control py-4" id="BuildingUsers-UserName" name="BuildingUsers-UserName" value="@buildinguser.UserName">
                        </div>
                        <div class="form-group">
                            <label class="" for="ContactNo">Contact No</label>
                            <input column-name="ContactNo" type="number" class="form-control py-4" id="BuildingUsers-ContactNo" name="BuildingUsers-ContactNo" value="@buildinguser.ContactNo">
                        </div>
                        <div class="form-group">
                            <label class="" for="ContactNo">Address</label>
                            <input column-name="Address" type="text" class="form-control py-4" id="BuildingUsers-Address" name="BuildingUsers-Address" value="@buildinguser.Address">
                        </div>
                    </section>

                    }
                </div>
                <div class="card-footer text-center">
                    <div class="header-section d-flex justify-content-between mt-2">
                        <input type="button" class="btn btn-primary btn-lg" value="Submit" onclick="SubmitItem()" id="Submit" />
                        @if (Model.IsNewRecord)
                        {
                            <input type="button" class="btn btn-warning btn-lg" value="Cancel" onclick="CloseForm('form-section', 'addupdate-btn')" id="Cancel" />
                        }
                        else
                        {
                            <a href="/buildinguser/index" class="btn btn-warning btn-lg">Back To Main</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    @if (Model.IsNewRecord)
    {
        <div class="listing-sction">
            @Html.Partial("_ListingTable", listingTableModel)
        </div>
    }
</div>

